:root {
  --neutral: #949994;
  --alive:   #ffffff;
  --dead:  #444444;
  --highlight: #8dc1f5;
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: var(--neutral);
}

.App-header {
  background-color: var(--neutral);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
  height: 10vh;
  padding: 0;
}

.App-header p {
  margin: 0;
  font-size: calc(10px + 2vmin);
}

.Gameboard {
  width: calc(min(90vh, 100vw));
  height: calc(min(90vh, 100vw));
  margin-left: auto;
  margin-right: auto;
}

.Row {
  display: flex;
}

.Cell {
  display: inline-block;
  height: calc(min(90vh, 100vw)/75);
  width: calc(min(90vh, 100vw)/75);
}

.Cell.dead {
  background-color: var(--dead);
}

.Control-bar {
  display: inline-block;
}

.Game-control {
  display: inline-block;
  padding-left: 1vw;
  padding-right: 1vw;
  height: 3vh;
  border-right-style: solid;
  border-right-width: 1px;
}

.Game-control:last-child {
  border-right-style: none;
}

.Flag-button {
  height: 2vh;
  width: 2vh;
  display: inline;
  border: 0.5vh;
  border-style: solid;
  border-color: var(--neutral);
  border-width: 0.5vh;
  position: relative;
  top: 0.5vh;
}

.Flag-button.active {
  border-color: var(--highlight);
  border-radius: 0.25vh;
  border-radius: 0.25vh;
}
