:root {
  --neutral: #949994;
  --alive:   #ffffff;
  --dead: dimgray;
  --control: slategray;
  --highlight: #8dc1f5;
}

.App {
  min-height: 100vh;
  min-width: max-content;
  padding-top: 0.5ex;
  background-color: var(--neutral);
  display: grid;
  grid-template-columns: repeat(3, auto) 1fr;
  grid-template-rows: auto auto 1fr;
  grid-row-gap: 0.5ex;
  grid-column-gap: 0.5ex;
}

#Title {
  font-size: 150%;
  grid-row-start: 1;
  grid-row-end: 3;
  padding-left: 0.5ex;
  display: flex;
  align-items: center;
}

.Game-control {
  display: flex;
  align-items: center;
  padding: 1ex;
  border-radius: 0.5ex;
  box-sizing: content-box;
  background-color: var(--control);
}

.Game-control input[type=number] {
  appearance: textfield;
  width: 2em;
}

#Flag-control {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(5, 1fr);
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.Flag-button {
  height: 3ex;
  border-style: solid;
  border-color: transparent;
  border-width: 0.5ex;
  border-radius: 3px;
}

.Flag-button.active {
  border-color: var(--highlight);
}

#Head-spacer {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
